.text{
    height: 350px;
    width: 400px;
    border: 10px solid greenyellow;
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 12%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: center;
    align-items: center;
}
.Home{
    height: 300px;
    width: 300px;
    border: 10px outset green;
     padding: 2%; 
     padding-top: 3%;
     padding-bottom: 5%;
     
     margin: 12%;
}
.Name{
    outline: 5px outset lightgreen;
    height: 200px;
    width: 200px;
    margin-left: 15%;
    margin-top: 18%;
    margin-right: 15%;
    margin-bottom: 10%;
}